@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "PT Sans Caption";
  font-size: 16px;
  color: #364844;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1174px;
  margin: 0px auto;
  padding: 0px 18px;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}
.header__container {
  display: flex;
  flex-direction: column;
}
.header__content {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 12px 0px;
}
.header__logo {
  flex: 0 0 111px;
}
.header__info-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.header__address {
  flex: 0 0 140px;
}
.header__phone {
  flex: 1 1 auto;
}
.header__button {
  margin: 0px 0px 0px 35px;
}
.address {
  background: url(../img/header/Spot.svg) 0px 0px no-repeat;
  padding: 2px 0px 0px 22px;
}
.address__text-city {
  display: block;
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.address__text-name {
  color: #868686;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.phone {
  display: flex;
  justify-content: end;
}
.phone__number {
  padding: 0px 0px 0px 37px;
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background: url("../img/header/whatsapp-icon.svg") left no-repeat;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  background-color: #0DBC91;
  transition: background-color 0.3s ease 0s;
}
.button__text {
  color: #FFF;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.button:hover {
  background-color: #00D29F;
}

.menu {
  padding: 10px 0px;
  background-color: #1FA181;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 30px 0px 0px;
}
.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}
.menu__link {
  color: #FFF;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.button-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__logo {
    margin: 0px 0px 0px 43px;
    flex: 0 0 70px;
  }
  .header__logo img {
    width: 62px;
    height: 18px;
  }
  .header__info-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header__address {
    flex: 0 0 auto;
    order: 2;
  }
  .header__phone {
    flex: 0 0 auto;
    order: 1;
  }
  .header__button {
    background: #F6F6F6;
    margin: 0px 0px 0px 18px;
    position: fixed;
    top: 312px;
    left: -100%;
    transition: all 0.3s ease 0s;
  }
  .header__button._active {
    left: 0;
    background: #e7e7e7;
  }
  .menu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    z-index: -1;
    min-height: 100%;
    transition: left 0.3s ease 0s;
    background-color: #1FA181;
    opacity: 0.8;
  }
  .menu__body {
    padding: 113px 0px 0px 0px;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
  }
  .menu__item {
    margin: 0px 0px 10px 0px;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu._active {
    left: 0;
  }
  .phone__number {
    padding: 0px;
  }
  .button__text_bg {
    color: #1FA181;
    font-family: "PT Sans Caption";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 150% */
  }
  .button-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 21px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .button-menu span, .button-menu::before, .button-menu::after {
    content: "";
    background-color: #1FA181;
    height: 3px;
  }
  .button-menu._active {
    flex: 0 0 30px;
    height: 30px;
    position: relative;
  }
  .button-menu._active::before, .button-menu._active::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #1FA181;
    height: 3px;
  }
  .button-menu._active span {
    display: none;
  }
  .button-menu._active::before {
    transform: rotate(45deg);
  }
  .button-menu._active::after {
    transform: rotate(-45deg);
  }
  .address {
    background: none;
    padding: 0px;
  }
  .address__text-city {
    color: #364844;
    text-align: right;
    font-family: "PT Sans Caption";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .address__text-name {
    display: none;
  }
  .phone {
    display: flex;
    justify-content: end;
  }
  .phone__number {
    font-family: "PT Sans Caption";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
  }
}
@media (max-width: 359.98px) {
  .header__logo {
    margin: 0px 0px 0px 23px;
    flex: 0 0 70px;
  }
}
.first-screen {
  position: relative;
  z-index: -2;
  background: #F8FBFA;
}
.first-screen__content {
  flex: 0 0 100%;
}
.first-screen__container {
  display: flex;
  align-items: center;
}
.first-screen__body {
  width: 50%;
  padding: 144px 200px 162px 0px;
}
.first-screen__title {
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 14px 0px;
}
.first-screen__text {
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.first-screen__image img {
  max-width: 100%;
}

@media (min-width: 767.98px) {
  .first-screen {
    display: flex;
  }
  .first-screen__image {
    flex: 0 0 50%;
    transform: translate(-100%, 0);
  }
}
@media (min-width: 767.98px) {
  .first-screen__image {
    position: relative;
    padding: 0 0 28.3% 0;
  }
  .first-screen__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1138px) {
  .first-screen__body {
    padding: 144px 100px 162px 0px;
  }
}
@media (max-width: 991.98px) {
  .first-screen__title {
    font-size: 26px;
  }
  .first-screen__text {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .first-screen {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .first-screen__body {
    width: 100%;
    padding: 35px 0px 53px 0px;
  }
  .first-screen__image {
    order: 1;
  }
  .first-screen__content {
    order: 2;
  }
  .first-screen__title {
    width: 267px;
    margin: 0px 0px 9px 0px;
  }
  .first-screen__text {
    width: 340px;
  }
}
@media (max-width: 349.98px) {
  .first-screen__title {
    width: 80%;
  }
  .first-screen__text {
    width: 80%;
  }
}
@media (max-width: 1138px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */