@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "PT Sans Caption";
  font-size: 16px;
  color: #364844;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1174px;
  margin: 0px auto;
  padding: 0px 18px;
}

body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #FFFFFF;
}
.header__container {
  display: flex;
  flex-direction: column;
}
.header__content {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 12px 0px;
}
.header__logo {
  flex: 0 0 111px;
}
.header__info-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.header__address {
  flex: 0 0 140px;
}
.header__phone {
  flex: 1 1 auto;
}
.header__button {
  margin: 0px 0px 0px 35px;
}
.header__menu {
  position: relative;
  z-index: 3;
  background-color: #1FA181;
  padding: 10px 0px;
}

.header:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 3;
}

.address {
  background: url(../img/header/Spot.svg) 0px 0px no-repeat;
  padding: 2px 0px 0px 22px;
}
.address__text-city {
  display: block;
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.address__text-name {
  color: #868686;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.phone {
  display: flex;
  justify-content: end;
}
.phone__number {
  padding: 0px 0px 0px 37px;
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background: url("../img/header/whatsapp-icon.svg") left no-repeat;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  background-color: #0DBC91;
  transition: all 0.3s ease 0s;
  color: #FFF;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.button:hover {
  background-color: #00D29F;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 30px 0px 0px;
}
.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}
.menu__link {
  color: #FFF;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.button-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .header__logo {
    margin: 0px 0px 0px 43px;
    flex: 0 0 70px;
  }
  .header__logo img {
    width: 62px;
    height: 18px;
  }
  .header__info-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header__address {
    flex: 0 0 auto;
    order: 2;
  }
  .header__phone {
    flex: 0 0 auto;
    order: 1;
  }
  .header__button {
    background: #F6F6F6;
    margin: 0px 0px 0px 18px;
    position: fixed;
    top: 312px;
    left: -100%;
    transition: all 0.3s ease 0s;
    color: #1FA181;
    font-family: "PT Sans Caption";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 150% */
  }
  .header__button._active {
    left: 0;
    background: #e7e7e7;
  }
  .header__menu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    z-index: 0;
    min-height: 100%;
    transition: left 0.3s ease 0s;
    background-color: #1FA181;
    opacity: 0.8;
  }
  .header__menu._active {
    left: 0;
  }
  .menu__body_header {
    padding: 113px 0px 0px 0px;
  }
  .menu__list_header {
    display: flex;
    flex-direction: column;
  }
  .menu__item_header {
    margin: 0px 0px 10px 0px;
  }
  .menu__item:last-child {
    margin: 0;
  }
  .phone__number {
    padding: 0px;
  }
  .button-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 21px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .button-menu span, .button-menu::before, .button-menu::after {
    content: "";
    background-color: #1FA181;
    height: 3px;
  }
  .button-menu._active {
    flex: 0 0 30px;
    height: 30px;
    position: relative;
  }
  .button-menu._active::before, .button-menu._active::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #1FA181;
    height: 3px;
  }
  .button-menu._active span {
    display: none;
  }
  .button-menu._active::before {
    transform: rotate(45deg);
  }
  .button-menu._active::after {
    transform: rotate(-45deg);
  }
  .address {
    background: none;
    padding: 0px;
  }
  .address__text-city {
    color: #364844;
    text-align: right;
    font-family: "PT Sans Caption";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .address__text-name {
    display: none;
  }
  .phone {
    display: flex;
    justify-content: end;
  }
  .phone__number {
    font-family: "PT Sans Caption";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
  }
}
@media (max-width: 359.98px) {
  .header__logo {
    margin: 0px 0px 0px 23px;
    flex: 0 0 70px;
  }
}
.first-screen {
  margin: 110px 0px 0px 0px;
  background: #F8FBFA;
}
.first-screen__content {
  flex: 0 0 100%;
  display: flex;
}
.first-screen__container {
  display: flex;
  align-items: center;
}
.first-screen__body {
  width: 50%;
  padding: 144px 200px 162px 0px;
}
.first-screen__title {
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 14px 0px;
}
.first-screen__text {
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.first-screen__image img {
  max-width: 100%;
}

@media (min-width: 767.98px) {
  .first-screen {
    display: flex;
  }
  .first-screen__image {
    flex: 0 0 50%;
    transform: translate(-100%, 0);
  }
}
@media (min-width: 767.98px) {
  .first-screen__image {
    position: relative;
    padding: 0 0 28.3% 0;
  }
  .first-screen__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1138px) {
  .first-screen__body {
    padding: 144px 100px 162px 0px;
  }
}
@media (max-width: 991.98px) {
  .first-screen__title {
    font-size: 26px;
  }
  .first-screen__text {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .first-screen {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .first-screen__body {
    width: 100%;
    padding: 35px 0px 53px 0px;
  }
  .first-screen__image {
    order: 1;
  }
  .first-screen__content {
    order: 2;
  }
  .first-screen__title {
    width: 267px;
    margin: 0px 0px 9px 0px;
  }
  .first-screen__text {
    width: 340px;
  }
}
@media (max-width: 349.98px) {
  .first-screen__title {
    width: 80%;
  }
  .first-screen__text {
    width: 80%;
  }
}
.check-up {
  padding: 100px 0px 92px 0px;
}
.check-up__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check-up__item {
  display: flex;
  align-items: center;
  background-color: #E2F0EF;
}
.check-up__content {
  width: 40%;
  padding: 0px 0px 0px 63px;
}
.check-up__title {
  color: var(--, #364844);
  font-family: "PT Sans Caption";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px 0px 1px 0px;
}
.check-up__text {
  color: var(--, #364844);
  font-family: "PT Sans Caption";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 16px 0px;
}
.check-up__buttons {
  display: flex;
}
.check-up__button_white {
  border: 1px solid #0DBC91;
  color: #0DBC91;
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px 14px;
}
.check-up__button_white:hover {
  background: #0DBC91;
  color: #FFFFFF;
}
.check-up__bg {
  display: none;
}
.check-up__image {
  width: 60%;
}
.check-up__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
.services {
  margin: 0px 0px 33px 0px;
}
.services__name {
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 8px 0px;
}
.services__name::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0px 9px 2px 0px;
  background-color: #1FA181;
}
.services__name:last-child {
  margin: 0;
}

.prices {
  display: flex;
  align-items: center;
  margin: 0px 0px 26px 0px;
}
.prices__price-now {
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 16px 0px 0px;
}
.prices__price-before {
  color: #868686;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration: line-through;
}

.menu-slider {
  margin: 39px 0px 0px 0px;
  display: flex;
  align-items: center;
}
.menu-slider__left-buttons {
  position: relative;
}
.menu-slider__button-left {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-slider__button-left_green {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.menu-slider__button-left_green:hover {
  opacity: 1;
}
.menu-slider__right-buttons {
  position: relative;
}
.menu-slider__button-right {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-slider__button-right_green {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.menu-slider__button-right_green:hover {
  opacity: 1;
}
.menu-slider__number {
  margin: 0px 36px;
  color: #C0C0C0;
  font-family: "PT Sans Caption";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu-slider__number-now {
  color: #364844;
}

@media (max-width: 1138px) {
  .services {
    margin: 0px 0px 25px 0px;
  }
  .prices {
    margin: 0px 0px 16px 0px;
  }
}
@media (max-width: 991.98px) {
  .check-up__title {
    font-size: 26px;
    margin: 0px;
  }
  .check-up__text {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
  }
  .services {
    margin: 0px 0px 10px 0px;
  }
  .services__name {
    font-size: 14px;
    margin: 0px 0px 6px 0px;
  }
  .prices {
    margin: 0px 0px 10px 0px;
  }
  .prices__price-now {
    font-size: 18px;
    margin: 0px 16px 0px 0px;
  }
  .prices__price-before {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .check-up {
    padding: 49px 0px 35px 0px;
  }
  .check-up__item {
    flex-direction: column;
    background-color: transparent;
  }
  .check-up__content {
    order: 2;
    width: 100%;
    flex: 0 1 auto;
    padding: 23px 0px 42px 22px;
    border-radius: 0px 0px 5px 5px;
    background-color: #E2F0EF;
  }
  .check-up__image {
    flex: 0 1 auto;
    order: 1;
    width: 100%;
  }
  .check-up__image img {
    border-radius: 5px 5px 0px 0px;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .check-up__button {
    width: 137px;
  }
  .check-up__button_white {
    border: 1px solid #0DBC91;
    color: #0DBC91;
    background: rgba(255, 255, 255, 0);
    transition: all 0.3s ease 0s;
    margin: 0px 0px 0px 6px;
  }
  .check-up__button_white:hover {
    background: #0DBC91;
    color: #FFFFFF;
  }
  .check-up__title {
    font-size: 26px;
    margin: 0px;
  }
  .check-up__text {
    font-size: 14px;
    margin: 0px 0px 12px 0px;
  }
  .services {
    margin: 0px 0px 17px 0px;
  }
  .services__name {
    font-size: 14px;
    margin: 0px 0px 7px 0px;
  }
  .prices {
    margin: 0px 0px 17px 0px;
  }
  .prices__price-now {
    font-size: 18px;
    margin: 0px 6px 0px 0px;
  }
  .prices__price-before {
    font-size: 14px;
  }
}
@media (max-width: 359.98px) {
  .check-up__button {
    width: 110px;
  }
}
.footer {
  background-color: #08664F;
  padding: 55px 0;
}
.footer__container {
  display: flex;
  align-items: center;
}
.footer__logo {
  flex: 0 1 auto;
}
.footer__menu {
  flex: 1 1 auto;
}
.footer__menu nav {
  display: flex;
  justify-content: center;
}
.footer__link-items {
  flex: 0 1 auto;
}
.footer__link-item {
  margin: 0px 0px 0px 15px;
}
.footer__link-item:first-child {
  margin: 0px;
}

@media (max-width: 991.98px) {
  .footer__menu li {
    margin: 0px 15px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__logo {
    order: 1;
    flex: 0 1 50%;
  }
  .footer__menu {
    margin: 31px 0px 0px 0px;
    order: 3;
    flex: 1 1 auto;
  }
  .footer__menu nav {
    justify-content: start;
  }
  .footer__menu ul {
    display: flex;
    flex-direction: column;
  }
  .footer__link-items {
    order: 2;
    flex: 0 1 50%;
    display: flex;
    justify-content: end;
  }
  .footer__link-item {
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px 20px;
  }
  .footer__link-item img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1138px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */