@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "PT Sans Caption";
  font-size: 16px;
  color: #364844;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1168px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  background-color: #FFFFFF;
}
.header__container {
  display: flex;
  flex-direction: column;
}
.header__content {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}
.header__logo {
  flex: 0 0 111px;
}
.header__address {
  flex: 0 0 140px;
}
.header__phone {
  flex: 1 1 auto;
}
.header__button {
  margin: 0px 0px 0px 35px;
}
.address {
  background: url(../img/header/Spot.svg) 0px 0px no-repeat;
  padding: 2px 0px 0px 22px;
}
.address__text-city {
  display: block;
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.address__text-name {
  color: #868686;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.phone {
  display: flex;
  justify-content: end;
}
.phone__number {
  padding: 0px 0px 0px 37px;
  color: #364844;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background: url("../img/header/whatsapp-icon.svg") left no-repeat;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 43px;
  border-radius: 50px;
  background-color: #0DBC91;
  transition: background-color 0.3s ease 0s;
}
.button__text {
  color: #FFF;
  font-family: "PT Sans Caption";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.button:hover {
  background-color: #00D29F;
}

.menu {
  padding: 10px 0px;
  background-color: #1FA181;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 30px 0px 0px;
}
.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}
.menu__link {
  color: #FFF;
  font-family: "PT Sans Caption";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (max-width: 1138px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */