.check-up {
   padding: 100px 0px 92px 0px;
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__slider{
      max-width: 100%;
      overflow: hidden;
   }

   &__items {
      display: flex;
      position: relative;
      left: 0;
      transition: all ease 1s;
   }

   &__item {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      background-color:#E2F0EF;
   }

   &__content {
      width: 40%;
      padding: 0px 0px 0px 63px;
   }

   &__title {
      color: var(--, #364844);
      font-family: "PT Sans Caption";
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin: 0px 0px 1px 0px;
   }

   &__text {
      color: var(--, #364844);
      font-family: "PT Sans Caption";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0px 0px 16px 0px;
   }

   &__services {
   }

   &__prices {
   }

   &__buttons {
      display: flex;
   }

   &__button {
      &_white{
         border: 1px solid #0DBC91;
         color: #0DBC91;
         background: #ffffff00;
         transition: all 0.3s ease 0s;
         margin: 0px 0px 0px 14px;
      }
      &_white:hover{
         background: #0DBC91;
         color: #FFFFFF;
      }
   }

   &__image {
      width: 60%;
   }
   &__image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
   }

   &__menu-slider {
      // margin: 39px 0px 0px 0px;
   }
}
.services {
   margin: 0px 0px 33px 0px;
   &__list {
   }

   &__name {
      color: #364844;
      font-family: "PT Sans Caption";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px 0px 8px 0px;
   }
   &__name::before{
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin: 0px 9px 2px 0px;
      background-color: #1FA181;
   }
   &__name:last-child {
      margin: 0;
   }
}
.prices {
   display: flex;
   align-items: center;
   margin: 0px 0px 26px 0px;
   &__price-now {
      color: #364844;
      font-family: "PT Sans Caption";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px 16px 0px 0px;
   }

   &__price-before {
      color: #868686;
      font-family: "PT Sans Caption";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      text-decoration:line-through;
   }
}
.menu-slider {
   margin: 39px 0px 0px 0px;
   display: flex;
   align-items: center;
   &__left-buttons {
      position: relative;
   }
   &__button-left {
      position: absolute;
      top: 0;
      left: 0;
      &_green {
         position: absolute;
         top: 0;
         left: 0;
         opacity: 0;
         transition:all 0.3s ease 0s;
         cursor: pointer;
      }
      &_green:hover{
         opacity: 1;
      }
   }
   &__right-buttons {
      position: relative;
   }
   &__button-right {
      position: absolute;
      top: 0;
      left: 0;
      &_green{
         position: absolute;
         top: 0;
         left: 0; 
         opacity: 0;
         transition:all 0.3s ease 0s;
         cursor: pointer;
      }
      &_green:hover{
         opacity: 1;
      }
   }

   &__number {
      margin: 0px 36px;
      color: #C0C0C0;
      font-family: "PT Sans Caption";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   &__number-now {
      color:#364844;
   }

}
// =============================

@media (max-width: 1138px) {
   .services {
      margin: 0px 0px 25px 0px;
   }
   .prices {
      margin: 0px 0px 16px 0px;
   }
}

@media (max-width: 991.98px) {
   .check-up {
      &__title {
         font-size: 26px;
         margin:0px;
      }
   
      &__text {
         font-size: 14px;
         margin: 0px 0px 10px 0px;
      }
   }
   .services {
      margin: 0px 0px 10px 0px;

      &__name {
         font-size: 14px;
         margin: 0px 0px 6px 0px;
      }
   }
   .prices {
      margin: 0px 0px 10px 0px;
      &__price-now {
         font-size: 18px;
         margin: 0px 16px 0px 0px;
      }
   
      &__price-before {
         font-size: 14px;
      }
   }
}
@media (max-width: 767.98px) {
   .check-up {
      padding: 49px 0px 35px 0px;
      &__item {
         flex-direction: column;
         background-color: transparent;
      }
      &__content {
         order: 2;
         width: 100%;
         flex: 0 1 auto;
         padding: 23px 0px 42px 22px;
         border-radius: 0px 0px 5px 5px;
         background-color:#E2F0EF;
      }
   
      &__image {
         flex: 0 1 100%;
         order: 1;
         width: 100%;
      }
      &__image img {
         border-radius: 5px 5px 0px 0px;
         width: 100%;
         max-height: 100%;
         object-fit: cover;
         -webkit-clip-path: none;
         clip-path: none;
      }
      &__button {
         width: 137px;
         &_white{
            border: 1px solid #0DBC91;
            color: #0DBC91;
            background: #ffffff00;
            transition: all 0.3s ease 0s;
            margin: 0px 0px 0px 6px;
         }
         &_white:hover{
            background: #0DBC91;
            color: #FFFFFF;
         }
      }
      &__title {
         font-size: 26px;
         margin:0px;
      }
   
      &__text {
         font-size: 14px;
         margin: 0px 0px 12px 0px;
      }
   }
   
   .services {
      margin: 0px 0px 17px 0px;
      &__name {
         font-size: 14px;
         margin: 0px 0px 7px 0px;
      }
   }
   .prices {
      margin: 0px 0px 17px 0px;
      &__price-now {
         font-size: 18px;
         margin: 0px 6px 0px 0px;
      }
   
      &__price-before {
         font-size: 14px;
      }
   }
}
@media (max-width: 359.98px){
   .check-up {
      &__button {
         width: 110px;
      }
   }
}



